

<nav class="foot">


  <div class="w-full flex justify-center flex-grow lg:flex md:items-center lg:w-auto ">

      <a href="{% url 'products:list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black mr-8 ">
        Copyright &#169; 2020
      </a>
	  <p class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black mr-8">
        |
      </p>
      <a href="{% url 'products:list' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black mr-8">
        Home
      </a>

        <a href="{% url 'products:order' %}" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-black">
        About
      </a>


  </div>
</nav>