{% load static %}
<style>
    .hero {
        background-image: url(" {% static 'images/general/banner-detail.jpg'%} ");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="w-full h-60 mb-10 hero">
    <div class="w-full h-full bg-black opacity-60 flex flex-col justify-center text-white text-center">
        <h2 class="title-white uppercase">Lorem ipsum amet ducimus quis in placeat?</h2>
    </div>

</div>